/* NavBar.css */
.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: start;
  padding: 10px 20px;
  width: 100%;

  z-index: 1000;
  position: fixed;
  justify-content: space-between;
  
}

.menu-toggle {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.bar.active {
  transform: rotate(45deg);
  background-color: #fff;
}

.menu {
  position: absolute;
  top: 45px;
  left: -100%;
  width: 100%;
  background-color: #444;
  padding: 20px;
  transition: left 0.3s ease;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
}


.menu.active {
  left: 0;
}
.menu li a{
  color: #fff;
}



/* @media query para escritorio */
@media (min-width: 768px) {
  .navbar{
    position: relative;
  }
  .menu-toggle {
    display: none;
  }

  .menu {
    display: flex;
    padding: 0;


    position: static;
    max-height: initial;
    background-color: transparent;
    justify-content: space-between;
  }

  .menu ul {
    display: flex;
    align-items: center;
  }

  .menu li {
    margin: 0 15px;
  }
}